- breadcrumb :category
= breadcrumbs separator: " &gt; "
.category_list
  .category_index
    %h2 カテゴリー一覧
  .category_list_nav
    - @parents.each do |parent|
      .category_list_nav_link_name
        %a{href:"#category#{parent.id}"} #{parent.name}
  .category_list_box
    - @parents.each do |parent|
      %h3.category_list_box_title{id:"category#{parent.id}"} #{parent.name}
      .category_list_box_title_category
        %a{href: '#'} すべて
        - @children.each do |child|
          %h4.category_list_box_title_sub_category #{child.name}
          .category_list_box_title_sub_sub_category
            %a{href: '#'} すべて
            -child.children.each do |grandchild|
              %a{href: '#'} #{grandchild.name}
  = render partial: 'layouts/footer-sell-btn'