%body
  .mypage__container
    .mypage__container__top
      %section.mypage__container__top--icon
        = link_to "#" do
          %figure
            %img{src:"//static.mercdn.net/images/member_photo_noimage_thumb.png"}
          %h2 田村　竜弥
          .mypage__container__top--icon--value
            .mypage__container__top--icon--value--eva 評価
            %span 0
            .mypage__container__top--icon--value--pro 出品数
            %span 0
      .mypage__container__tab
        %ul.mypage__container__tab--s
          %li
            %h3
              = link_to "#" do
                お知らせ
          %li
            %h3
              = link_to "#" do
                やることリスト
      .mypage-content
        %p.mypage-content-not-found 現在やることリストはありません
      .mypage-purchased-product
        %h2 購入した商品
      .mypage-purchased-product__tabs
        %ul
          %li
            %h3 
              = link_to "#" do
                取引中
          %li 
            %h3 
              = link_to "#" do
                過去の取引
      .mypage-purchased-product__foot
        %p.mypage-purchased-product__foot-not-found 過去に取引した商品がありません
