%body.index
  .main-top
    = link_to image_tag("https://kaoruya.org/blog/wp-content/uploads/2016/10/eye-catch-mercari-saishuppi.jpg", width: '100%', alt: "トップ画像"), ""
  .main-picup
    %h2.main-picup-title ピックアップカテゴリー 
    .main-picup-category
      %h3.main-picup-name
        = link_to "レディース新着アイテム" , ""
      .item-box
        .item-box-content
          - @products_ladies.each do |product_ladies|
            .item-box-new
              .item-box-body
                %prefix.item-box-photo
                  = link_to product_path(product_ladies) do
                    = image_tag product_ladies.images[0].image.url,class: "item-image"
                .item-box-detail
                  %h3.item-box-name
                    = product_ladies[:name]
                  .item-box-price         
                    = product_ladies[:price]                            
    .view-all
      = link_to "全ての商品をみる" , ""
    .main-picup-category
      %h3.main-picup-name
        = link_to "メンズ新着アイテム" , ""
      .item-box
        .item-box-content
          - @products_mens.each do |product_men|
            .item-box-new
              .item-box-body
                %prefix.item-box-photo
                  = link_to product_path(product_men) do
                    = image_tag product_men.images[0].image.url,class: "item-image"
                .item-box-detail
                  %h3.item-box-name
                    = product_men[:name]
                  .item-box-price         
                    = product_men[:price]
    .view-all
      = link_to "全ての商品をみる" , ""
    .main-picup-category
      %h3.main-picup-name
        = link_to "家電・スマホ・カメラ新着アイテム" , ""
      .item-box
        .item-box-content
          - @products_electricals.each do |product_electrical|
            .item-box-new
              .item-box-body
                %prefix.item-box-photo
                  = link_to product_path(product_electrical) do
                    = image_tag product_electrical.images[0].image.url,class: "item-image"
                .item-box-detail
                  %h3.item-box-name
                    = product_electrical[:name]
                  .item-box-price         
                    = product_electrical[:price]
    .view-all
      = link_to "全ての商品をみる" , ""
    .main-picup-category
      %h3.main-picup-name
        = link_to "おもちゃ・ホビー・グッズ新着アイテム" , ""
      .item-box
        .item-box-content
          - @products_toys.each do |product_toy|
            .item-box-new
              .item-box-body
                %prefix.item-box-photo
                  = link_to product_path(product_toy) do
                    = image_tag product_toy.images[0].image.url,class: "item-image"
                .item-box-detail
                  %h3.item-box-name
                    = product_toy[:name]
                  .item-box-price         
                    = product_toy[:price]
    .view-all
      = link_to "全ての商品をみる" , ""

    = render partial: 'layouts/footer-sell-btn'
