.main-section
  .main-section__heading
    %h2.main-section__heading-name 
      商品の情報を入力
  .main-section__form
  = form_for @product, html: {class: "main-section dropzone", id: "item-dropzone"} do |f|
    .main-section__form-image-box
      %h3.main-section__form-image-box-name
        出品画像
        %span.require-tag 必須
      %p 最大10枚までアップロードできます
    = f.fields_for :images do |image| 
      .main-section__form-image-box-upload
        #preview
        .main-section__form-image-box-upload--container 
          %label.main-section__form-image-box-upload--drop_box{ for: "upload-image"}
            .input_area
            =f.file_field :image,multiple: true, name: 'images[image][]', id: "upload-image", class: "upload-image", 'data-image': 0
            %pre.visible-pc
              :preserve
                ドラッグアンドドロップ
                またはクリックしてファイルをアップロード
      .main-section__form-image-box-upload2
        #preview2
        .main-section__form-image-box-upload--container2
          %label.main-section__form-image-box-upload--drop_box2{ for: "upload-image"}
            .input_area
            =f.file_field :image,multiple: true, name: 'images[image][]', id: "upload-image", class: "upload-image", 'data-image': 0
            %pre.visible-pc
              :preserve
                ドラッグアンドドロップ
                またはクリックしてファイルをアップロード
    .main-section__form-content
      .form
        %h3.form-lavel
          商品名
          %span.require-tag 必須
        = f.text_field :name,class: "form-input-textfield",placeholder: "商品名（必須 40文字まで)",maxlength: 40
      .form
        %h3.form-lavel
          商品の説明
          %span.require-tag 必須
        = f.text_area :description,class: "form-input-textarea",placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5",maxlength: 1000
    .main-section__form-select-content
      %h3.select-content-title 商品の詳細
      .select-content__form-box
        .select-form
          = f.label 'カテゴリー', class: 'select-form-lavel' do
            カテゴリー
            %span.require-tag 必須
          .list-menu__wrap
            %i.fa.fa-chevron-down
            = f.select :category_id ,{class: 'list-menu__category', id: 'parent_category'} do
              - @category_parent_array.each do |parent|
                %option{value: parent[0][:value]} 
                  = parent[0][:name]
        .select-form-foot
          .select-form-foot-lavel
            商品の状態
            %span.require-tag 必須
          .list-menu__wrap
            %i.fa.fa-chevron-down
            = f.select :state, @product , {class: 'list-menu__category'} do
              %option{value: ""} ---
              %option{value: "1"} 新品、未使用
              %option{value: "2"} 未使用に近い
              %option{value: "3"} 目立った傷や汚れなし
              %option{value: "4"} やや傷や汚れあり
              %option{value: "5"} 傷や汚れあり
              %option{value: "6"} 全体的に状態が悪い
    .main-section__form-select-content--delivery
      %h3.select-content-title 配送について
      .form-question
        =link_to ""
        %i.fa.fa-question-circle
      .select-content__form-box
        .select-form-delivery
          .select-form-lavel
            配送料の負担
            %span.require-tag 必須
          .list-menu__wrap
            %i.fa.fa-chevron-down
            = f.select :cost_bearer, @product , {class: 'list-menu__category'} do
              %option{value: ""} ---
              %option{value: "2"} 送料込み(出品者負担)
              %option{value: "1"} 着払い(購入者負担)
        .select-form-foot
          .select-form-foot-lavel
            発送元の地域
            %span.require-tag 必須
          .list-menu__wrap
            %i.fa.fa-chevron-down
            = f.select :address_id, @product , {class: 'list-menu__category'} do
              %option ---
              - @addresses.each do |address|
                %option
                  = address.name
              %option 未定

        .select-form-foot
          .select-form-foot-lavel
            発送までの日数
            %span.require-tag 必須
          .list-menu__wrap
            %i.fa.fa-chevron-down
            = f.select :day_to_ship, @product , {class: 'list-menu__category'} do
              %option{value: ""} ---
              %option{value: "1"} 1~2日で発送
              %option{value: "2"} 2~3日で発送
              %option{value: "3"} 4~7日で発送

    .main-section__form-select-content
      %h3.select-content-title 販売価格(300〜9,999,999)
      .form-question
        =link_to ""
        %i.fa.fa-question-circle
      .select-content__form-box
        %ul.select-content__form-box-price
          %li.select-form-price
            .clearfix
              .select-form-lavel__left
                価格
                %span.require-tag 必須
              .input-price__right
                ¥
                .input-price__right-box
                = f.text_field :price, placeholder: "例)  300",class:"input-price__right-textfield" , id: "selling-item-price" 
                = f.text_field :sold, value: true, type:"hidden"
                = f.text_field :user_id, value: current_user.id, type:"hidden"
                = f.text_field :buyer_id, value: 0, type:"hidden"
                = f.text_field :delivery_method, value: "クロネコヤマト", type:"hidden"
          %li.clearfix-fee
            .fee-left
              販売手数料(10%)
            .fee-right
              ー
          %li.clearfix-profit
            .profit-left
              販売利益
            .profit-right
              ー
    .main-section__form-select-content--btn-box
      .announce-text
        %p
          =link_to "禁止されている出品"
          、
          =link_to "行為"
          を必ずご確認ください。
        %p
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          =link_to "偽ブランドの販売"
          は犯罪であり処罰される可能性があります。
        %p
          また、出品をもちまして
          =link_to "加盟店規約"
          に同意したことになります。
      = f.button "出品する", class: "red-submit-btn" 
      = link_to '戻る', :back, class:"glay-back-btn"