!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mercari
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

  %header.pc-header.visible-pc
    .pc-header-inner
      .pc-header-top
        %h1
          %a{:href => "https://www.mercari.com/jp/"}
            %img{:alt => "mercari", :height => "36", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2098311808", :width => "134"}/
        %form.pc-header-form{:action => "https://www.mercari.com/jp/search/"}
          %input.input-default{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
          %i.icon-search
          %i.fas.fa-search
      .pc-header-nav-box.clearfix
        %nav.l-left
          %ul.pc-header-nav
            %li
              %h2
                %a.pc-header-nav-root.list-parent{:href => "https://www.mercari.com/jp/category/"}
                  %i.icon-list.pc-header-cat-brand-icon
                  %span カテゴリーから探す
              %ul.pc-header-nav-parent-wrap{"data-mega" => "1", :style => "width: auto;"}

            %li
              %h2
                %a.pc-header-nav-root.list-parent{:href => "https://www.mercari.com/jp/brand/"}
                  %i.icon-tag.pc-header-cat-brand-icon
                  %span ブランドから探す
              
        .l-right
          %ul.pc-header-user-nav
            %li.liked-items-link
              %a.pc-header-menu-link{:href => "https://www.mercari.com/jp/mypage/like/history/"}
                %i.icon-like-border
                %span いいね！一覧
            %li{"data-id" => "pc-header-user-nav", "data-key" => "notification_list", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
              %a.pc-header-menu-link{"data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/", :href => "https://www.mercari.com/jp/mypage/notification/"}
                %i.icon-bell
                %span お知らせ
                .pc-header-nav-count
              %ul.pc-header-user-box.pc-header-notification-box.mypage-item-list{"data-id" => "pc-header-user-items"} 

              %a.pc-header-menu-link{"data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/", :href => "https://www.mercari.com/jp/mypage/todo/"}
                %i.icon-check
                %span やることリスト
                %ul.pc-header-user-box.pc-header-todo-box.mypage-item-list{"data-id" => "pc-header-user-items"}
                %li.mypage-item-not-found.bold

              %a.pc-header-user-icon.pc-header-menu-link{:href => "https://www.mercari.com/jp/mypage/"}
                %figure
                  %div
                    %img{:alt => "", :src => "", :width => ""}/
                %span マイページ
                
    = yield

  %footer.global-footer
  %nav.clearfix
    .footer-cell
      %h2.footer-head メルカリについて
      %ul
        %li
          %a{:href => "https://about.mercari.com/"} 会社概要（運営会社）
        %li
          %a{:href => "https://www.mercari.com/jp/jobs/"} 採用情報
        %li
          %a{:href => "https://about.mercari.com/press/news/"} プレスリリース
        %li
          %a{:href => "https://jp-news.mercari.com/", :target => "_blank"} 公式ブログ
        %li
          %a{:href => "https://www.mercari.com/jp/logo-guidelines/"} メルカリロゴ利用ガイドライン
        %li.footer-social-link
          %a{:href => "https://twitter.com/mercari_jp", :target => "_blank"}
            %i.icon-twitter
        %li.footer-social-link
          %a{:href => "https://www.facebook.com/mercarijp", :target => "_blank"}
            %i.icon-facebook
    .footer-cell
      %h2.footer-head ヘルプ＆ガイド
      %ul
        %li
          %a{:href => "https://www.mercari.com/jp/help_center/"} メルカリガイド
        %li
          %a{:href => "https://www.mercari.com/jp/rakuraku-mercari/"} らくらくメルカリ便
        %li
          %a{:href => "https://www.mercari.com/jp/yuyu-mercari/"} ゆうゆうメルカリ便
        %li
          %a{:href => "https://www.mercari.com/jp/rakuraku-ogata/"} 大型メルカリ便
        %li
          %a{:href => "https://www.mercari.com/jp/guide/car/"} 車体取引ガイド
        %li
          %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"} メルカリあんしん・あんぜん宣言！
        %li
          %a{:href => "https://www.mercari.com/jp/authenticity/"} 偽ブランド品撲滅への取り組み
        %li
          %a{:href => "https://www.mercari.com/jp/box/"} メルカリボックス
    .footer-cell.full-width
      %h2.footer-head プライバシーと利用規約
      .inner-footer-cell
        %ul
          %li
            %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
          %li
            %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
          %li
            %a{:href => "https://www.mercari.com/jp/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
          %li
            %a{:href => "https://www.mercari.com/jp/compliance/"} コンプライアンスポリシー
      .inner-footer-cell
        %ul
          %li
            %a{:href => "https://www.mercari.com/jp/data_security/"} 個人データの安全管理に係る基本方針
          %li
            %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
          %li
            %a{:href => "https://www.mercari.com/jp/shikin_kessai/"} 資金決済法に基づく表示
          %li
            %a{:href => "https://about.mercari.com/csr/safety/"} 法令順守と犯罪抑止のために
    .footer-cell.footer-nav-lang
      %h2.footer-head 国
      %ul
        %li
          %a.active{:href => "https://www.mercari.com/jp/"} 日本
        %li
          %a{:href => "https://www.mercari.com/"} United States
  .footer-bottom
    %a.footer-logo{:href => "https://www.mercari.com/jp/"}
      %img{:alt => "mercari", :height => "33", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?2098311808", :width => "124"}/
    %span.footer-copyright
      %small © 2019 Mercari
