!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mercari
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
  %body

  %header.content
    .content-inner
      .content__head
        %h1
          %img{:alt => "mercari", :height => "36", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2098311808", :width => "134"}/
        %form.content__head--form
          %input.content__head--form-search{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
          %i.icon-search
            %i.fas.fa-search

      .content__foot
        .content__foot--left
          %ul
            %li.mega-menu-left
              .category-list
                %a.category-list-parent
                  %i.fas.fa-list-ul
                  %span カテゴリーから探す

            %li.mega-menu-left
              .brand-list
                %a.brand-list-parent
                  %i.fa.fa-tag
                  %span ブランドから探す
              
        .content__foot--right
          %ul
            %li.mega-menu-right
              %a.mega-menu-right__item
                %i.far.fa-heart
                %span いいね！一覧

            %li.mega-menu-right
              %a.mega-menu-right__item
                %i.far.fa-bell
                %span お知らせ
                .mega-menu-right_count
              %ul.pc-header-user-box.pc-header-notification-box.mypage-item-list{"data-id" => "pc-header-user-items"} 

            %li.mega-menu-right
              %a.mega-menu-right__item
                %i.fa.fa-check
                %span やることリスト
                -# %ul.pc-header-user-box.pc-header-todo-box.mypage-item-list{"data-id" => "pc-header-user-items"}
                -# %li.mypage-item-not-found.bold

            %li.mega-menu-right
              %a.mega-menu-right__item
                %img{src: ""}
                %span マイページ

  .banner-section
    .banner__inner
      .banner__inner--left
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
        .banner__inner--left-icon
          %figure
            %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?863303983", :width => "68"}/
          %ul.app-icon
            %li
              %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
                %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?863303983", :width => "133"}/
            %li
              %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
                %img{:alt => "", :height => "40", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?863303983", :width => "133"}/
      .banner__inner--right
        %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?863303983"}/


  %footer.footer-section
    .footer-top
      .footer-top__left
        %h2.footer-head メルカリについて
        %ul
          %li 会社概要（運営会社）
          %li 採用情報
          %li プレスリリース
          %li 公式ブログ
          %li メルカリロゴ利用ガイドライン
          %li.footer-social-link
            %i.fab.fa-twitter.fa-2x
          %li.footer-social-link
            %i.fab.fa-facebook-square.fa-2x
      .footer-top__center
        %h2.footer-head ヘルプ＆ガイド
        %ul
          %li メルカリガイド
          %li らくらくメルカリ便
          %li ゆうゆうメルカリ便
          %li 大型メルカリ便
          %li 車体取引ガイド
          %li メルカリあんしん・あんぜん宣言！
          %li 偽ブランド品撲滅への取り組み
          %li メルカリボックス
      .footer-top__right
        %h2.footer-head プライバシーと利用規約
        .footer-top__right-box
          .footer-top__right-box--cell
            %ul
              %li プライバシーポリシー
              %li メルカリ利用規約
              %li あんしんスマホサポート制度に関する利用特約
              %li コンプライアンスポリシー
          .footer-top__right-box--cell
            %ul
              %li 個人データの安全管理に係る基本方針
              %li 特定商取引に関する表記
              %li 資金決済法に基づく表示
              %li 法令順守と犯罪抑止のために
      .footer-top__nav-lang
        %h2.footer-head 国
        %ul
          %li 日本
          %li United States
    .footer-bottom
      .footer-bottom__logo
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?2098311808"
      .footer-bottom__copyright
        %small © 2019 Mercari

      %a.footer-sell-btn
        %p 出品
        %i.fas.fa-camera

    = yield