!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http:{equiv: "Content-Type"}}/
    %meta{content: "width=device-width,initial-scale=1.0,minimum-scale=1.0", name: "viewport"}/
    %script{crossorigin: "anonymous", integrity: "sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=", src: "https://code.jquery.com/jquery-3.4.1.js"}
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    %title Mercari
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .section
        .header
          = link_to  image_tag("logo.svg", width: '185'), root_path
    = yield
    .footer
      .footer__top
        %ul
          %li 
            = link_to "プライバシーポリシー"
          %li 
            = link_to "メルカリ利用規約"
          %li 
            = link_to "特定商取引に関する表記"

        = link_to image_tag("logo-gray.svg", width: '80')
        %p © 2019 Mercari